<div class="table table-hover">
  <table class="table">
   <h1>Teachers</h1>
    <thead class="table table-striped">
      <tr>
        <th scope="col">teacher_id</th><br>
        <th scope="col">first_name</th><br>
        <th scope="col">last_name</th>
        <th scope="col">phone_number</th><br/>
        <th scope="col">email</th>
      </tr>
    </thead>

    <tbody class="table table-striped">
      <% @teacher.each do |teacher| %>
        <tr>
          <td><%= teacher.id %></td>
          <td><%= teacher.first_name %></td>
          <td><%= teacher.last_name %></td>
          <td><%= teacher.phone_number %></td>
          <td><%= teacher.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
